<div class="row">
  <div class="col-xs-12">
    <div class="register well">
      <p>避難者名簿作成のため、個人情報の登録をお願いします。</p>
      <p><button type="button" class="btn btn-danger btn-lg btn-block"><%= fa_icon 'user', text: '個人情報を登録する' %></button></p>
    </div>

    <div class="news">
      <h1>お知らせ</h1>
      <p>ポリテクカレッジ浜松避難所が開設されました。避難者名簿作成のため、個人情報の登録をお願いします。</p>
    </div>
  </div>
</div>
