$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, Roboto,
                         "Droid Sans",
                         "Hiragino Kaku Gothic ProN",
                         "メイリオ", Meiryo,
                         "游ゴシック", YuGothic,
                         sans-serif !default;

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
// $brand-success:         #5cb85c !default;
$brand-success:         #61B816 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
// $brand-danger:          #d9534f !default;
$brand-danger:          #D12E1F !default;

//== Navbar
//
//##

// Basics of a navbar
$navbar-default-color:             white !default;
$navbar-default-bg:                $brand-success !default;
$navbar-default-border:            darken($navbar-default-bg, 5%) !default;

// Navbar links
$navbar-default-link-color:                $navbar-default-color !default;
$navbar-default-link-hover-color:          #FEF7E3 !default;
$navbar-default-link-hover-bg:             rgba(208, 208, 208, 0.5) !default;
$navbar-default-link-active-color:         $navbar-default-link-color !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         $navbar-default-link-hover-color !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           rgba(208, 208, 208, 0.5) !default;
$navbar-default-toggle-icon-bar-bg:        #fff !default;
$navbar-default-toggle-border-color:       #ddd !default;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
}

.navbar-default {
  .navbar-brand {
    font-weight: bold;
  }
}

.main-content {
  h1 {
    margin-top: 0.5em;
    padding: 0.125em 0.5em;
    border-left: 6px solid #D12E1F;
    font-size: 1.5em;
    font-weight: bold;
  }
}
