.num-of-refugees {
  h1 {
    .fa {
      color: #E06D15;
    }
  }

  p {
    text-align: center;
  }

  .num {
    font-size: 1.5em;
    line-height: 1.25;
    font-weight: bold;
  }

  strong {
    font-size: 4em;
    color: #EDAD0B;
  }
}
