<%= render 'shared/flash' %>
<div class="row">
  <section class="num-of-refugees col-xs-12 col-md-12">
    <h1>現在の避難者数</h1>
    <div class="well">
      <p>現在の避難者数は</p>
      <p class="num"><strong><%= @num_of_refugees %></strong> 人</p>
      <p>です。</p>
    </div>

    <p><%= link_to fa_icon('home', text: 'ホーム'), root_path, class: 'btn btn-default btn-block' %></p>
  </section>
</div>
